
@{
    ViewBag.Title = "Administration";
}

<h2>Bienvenue sur la page d'administration</h2>

<p>
    Une fois connecté à votre compte d'administrateur, vous avez accès via le ruban
    aux modules d'administration.
    Vous pouvez modifier l'offre de soins, de produits, gérer les collaborateurs, ...
</p>