@{
    ViewBag.Title = "à propos";
}

<h3>@ViewBag.Message</h3>

<p>
    Pour un moment de détente incomparable, la sénéritée est de mise. C'est pourquoi nous
    garantissons que les soins que vous recevrez seront exécutés par une professionnelle
    de la santé qui n'a qu'un seul objectif : votre bonheur.
</p>
