@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    19, domaine du haut buisson<br />
    Premesques, 59840<br />
    <abbr title="Phone">T:</abbr>
    +33 6 07 95 47 85
</address>

<address>
    <strong>Prendre Rendez-vous </strong> <br />
    <strong>Par mail : </strong><a href="mailto:knobloch0geoffrey@gmail.com">Lorena@noteduelemas.com</a><br />
    <strong>Par téléphone : </strong> <a href="tel:+33607954785">0607954785</a>
</address>